.container {
    background-color: rgb(159, 201, 232);
    width: 700px !important;
    height: 470px;
    margin: 20px;
    border-radius: 15px;
    z-index: 1;
}

.current-img {
    font-size: 150px;
}

#celsius-fahrenheit {
    text-decoration: none;
    color: #000;
    transition: all 200ms linear;
}

#celsius-fahrenheit:hover {
    color: white;
    cursor: pointer;
}